html,
body {
  height: 100%;
  margin: 0;

  
}
.wrapper {
  height: 100%;
  margin: 0;
  font-family: Helvetica, sans-serif;
  word-spacing: 2px;
  letter-spacing: 0.5px;
}
.fixed {
  margin: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  color: #eeeeee;
  text-align: center;
  display: table;
}

span {
 
 
  color: black;
  align-items: center;
  font-size: 18px;
  width: 20px;
}
.fixed h1 {
  color: none;
  align-content: center;
  position:relative; 
  top:200px;
  
}
.title {
  font-size: 80px;
  font-family: "fantasy";
}
h2 {
  margin: 0;
  max-width: 40rem;
  margin: 0 auto;
  position:relative; 
  top: 308px;
  
}
h3 {
  text-align: center;
  color: black
}
h4 {
  text-align: center;
  color: black;
}

.last {
  position: sticky; 
}
.scroll {
  /* background-color: #ffe0f6; */
  padding: 10px 70px;
  color: #666666;
}
.one {
  background-image: url("image/israel+palestina-flag.avif");
 
}
.two {
  background-image: url("image/flares-dropped.jpg") /* bilde av John MacDougall/AFP/Getty Images*/
}
.three {
  background-image: url("image/flares-dropped.jpg"); /* bilde av John MacDougall/AFP/Getty Images*/
}

.four {
  background-image: url("image/war-effect.avif"); /* Bilde av: Mohammed Hajjar/AP*/
}


 .seven{
  background-image: url("image/protest-london.avif");
} 

p{
  max-width: 40rem;
  font-size: large;
  line-height: 30px;
  margin: auto;
  padding-bottom: 2rem;
  color: #061629;;
  
}
img {
  align-content: center;
  display: block;
  margin: 0 auto;
  padding: 1rem;
  width: 800px;
  height: 500px;

}
figcaption {
  text-align: center;
  font-size: 12px;
  color: hsl(240, 1%, 48%);
  padding-bottom: 1rem;
}

.storbilde {
  width: 800px;
  height: 500px;
  
}
.pk {
  width: 800px;
  height: 500px;
}
.after {
  padding-top: 20px;
}



/* Slideshow container */
.slideshow-container {
  position: relative;
  max-width: 800px;
  margin: auto;
}

/* Slides */
.mySlides {
  display: none;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(35, 35, 202, 0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: black;
}

.i {
  font-style: italic;
  width: auto;
  font-size: medium;
  line-height: 30px;
  margin: auto;
  padding-bottom: 2rem;
  color: #061629;;
}

/* Add a blue color to the author */
.author {color: cornflowerblue;
text-align: center;
font-size:medium;}
footer {
  font-size: small;
  text-align: center;
  text-decoration:solid;
  padding-top: 20px;
  
  padding-bottom: 20px;
}

.myslideimg{
  display: block;
  margin: 0 auto;
  padding: 1rem;
  width: 300px;
  height: 350px;
}





@media only screen and (max-width:768px)  {
  

/* Generelle stiler for responsivitet */
body {
  font-size: 16px; /* Sett standard fontstørrelse for mobilvisning */
}

.wrapper {
  padding: 20px; /* Legg til litt polstring for bedre lesbarhet */
}

/* Stiler for store bilder og bilder i teksten */
img {
  max-width: 100%; /* Sørg for at bilder ikke overstiger bredden til forelder-elementet */
  height: auto; /* Sørg for at høyden endres proporsjonalt med bredden for å unngå forvrengning */
}

.storbilde, .pk {
  width: 100%; /* Fyll bredden av forelder-elementet for store bilder og bilder i teksten */
}

/* Slideshow-stiler for responsivitet */
.slideshow-container {
  max-width: 100%; /* Sørg for at lysbildefremviseren tilpasser seg bredden av skjermen */
}

.mySlides {
  text-align: center;
}

.prev, .next {
  font-size: 16px; /* Tilpass størrelsen på pilene for bedre brukervennlighet på mobile enheter */
}

/* Legg til dette for å forbedre responsiviteten av slideshow-dots */
.dot-container {
  display: flex;
  justify-content: center;
}

.dot {
  margin: 0 5px;
}

  img {
    width: 100% ;
    
    
  }
  .storbilde {
    max-width: auto;
  }


  .fixed {
    margin: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% auto; /* Endre cover til 100% auto */
    background-position: center center;
    height: 100%;
    width: 100%;
    color: #eeeeee;
    text-align: center;
    display: table;
  }
  
  img {
    align-content: center;
    display: block;
    margin: 0 auto;
    padding: 1rem;
    max-width: 100%; /* Endre width til max-width */
    height: auto;
    width: 100%; /* Du kan la dette være for desktop-visning */
   
  }

  
}







